In [ ]:
import numpy as np
import pandas as pd

```1.Create a Pandas Series from a list of student marks [65, 70, 85, 90, 55] with custom index labels
as student names.
Calculate the average marks.
Identify students who scored more than 75.```

In [ ]:
df = pd.Series([65, 70, 85, 90, 55], index=['Siva', 'Iniya', 'Hari', 'Swetha', 'Mani'])
df

Siva      65
Iniya     70
Hari      85
Swetha    90
Mani      55
dtype: int64

In [ ]:
# Calculate average marks
average_marks = df.mean()
average_marks

np.float64(73.0)

In [ ]:
# Students scored more than 75
students_scored = df[df > 75]
students_scored

Hari      85
Swetha    90
dtype: int64

```2. Create a 5x5 NumPy array of integers from 0 to 24. Extract the second row and third column using indexing. Replace all odd numbers with -1 using broadcasting.```

In [ ]:
# Create a 5*5 numpy array of integers from 0 to 24
df = np.arange(25).reshape(5, 5)
df

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
# Indexing
extracting = df[1,2]
extracting

np.int64(7)

In [ ]:
# Replace all odd numbers with -1 using broadcasting.
df[df % 2 != 0] = -1
df

array([[ 0, -1,  2, -1,  4],
       [-1,  6, -1,  8, -1],
       [10, -1, 12, -1, 14],
       [-1, 16, -1, 18, -1],
       [20, -1, 22, -1, 24]])